<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd   
    http://www.springframework.org/schema/tx   
    http://www.springframework.org/schema/tx/spring-tx.xsd  
    http://www.springframework.org/schema/context  
    http://www.springframework.org/schema/context/spring-context.xsd  
    http://www.springframework.org/schema/mvc  
    http://www.springframework.org/schema/mvc/spring-mvc.xsd">
	<!--创建jdbc数据源 -->
	<context:property-placeholder location="classpath:jdbc.properties" />
	<bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
		primary="true"
		destroy-method="close">
		<property name="driverClass" value="${jdbc.driver:com.mysql.jdbc.Driver}" />
		<property name="jdbcUrl" value="${jdbc.url}" />
		<property name="user" value="${jdbc.username}" />
		<property name="password" value="${jdbc.password}" />
		<property name="acquireIncrement" value="${jdbc.acquireIncrement:10}" />
		<property name="idleConnectionTestPeriod" value="${jdbc.idleConnectionTestPeriod:50}" />
		<property name="maxIdleTime" value="${jdbc.maxIdleTime:0}" />
		<property name="testConnectionOnCheckin" value="${jdbc.testConnectionOnCheckin:true}" />
		<property name="preferredTestQuery" value="${jdbc.preferredTestQuery}" />
		<property name="initialPoolSize" value="${jdbc.minPoolSize:80}" />
		<property name="minPoolSize" value="${jdbc.minPoolSize:80}" />
		<property name="maxPoolSize" value="${jdbc.maxPoolSize:200}" />
		<property name="checkoutTimeout" value="${jdbc.checkoutTimeout:3000}" />
	</bean>

	<bean id="txManager"
		class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<tx:annotation-driven transaction-manager="txManager" />
	
	<bean class="org.springframework.jdbc.core.JdbcTemplate">
		<constructor-arg index="0" ref="dataSource"/>
	</bean>

	<!-- def session factory -->
	<bean id="def_session_factory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="configLocation" value="classpath:mybatis-conf.xml" />
		<property name="mapperLocations" value="${sqlSessionFactory.mapperLocations}" />
	</bean>

	<bean id="def_session" class="net.kiigo.core.dao.mybatis.SqlSessionTemplate"
		scope="prototype">
		<constructor-arg index="0" ref="def_session_factory" />
	</bean>
</beans>